:root {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  font-size: 1rem;
  color: #444;
  background-color: rgb(177, 200, 179);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* Container */
.container {
  width: 90%;
  margin: 50px auto;
  border: 2px solid #444;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 6px 5px #707070;
}

.section {
  padding: 2rem 0;
}

/* Header and Navbar */
.header,
.footer {
  margin: 0.5rem 0;
}

.navbar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #444;
  margin: 5px;
  border-radius: 5px;
}

.brand {
  padding-left: 0.25rem;
}

.nav .list {
  display: flex;
}

.nav .list-item {
  padding: 0 0.5rem;
}

.nav .list-item:last-of-type {
  padding-right: 0.25rem;
}

.nav .link {
  color: #444;
}

.date {
  text-align: right;
  margin: 0.5rem 0;
  padding-right: 5px;
  font-size: 12px;
}

/* List Section */
.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline {
  margin-bottom: 1.2rem;
}

.book-shelf {
  border: 2px solid #444;
  width: 96%;
  border-radius: 5px;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 5px;
}

.book:nth-child(odd) {
  background-color: #eee;
}

.book:nth-child(even) {
  background-color: #fff;
}

.book-cover {
  display: flex;
  gap: 1rem;
}

.btn {
  width: fit-content;
  padding: 0.25rem;
  box-shadow: 2px 2px 2px #444;
}

/* Add new book section */
.add-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-book-form {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"] {
  max-width: 100%;
  width: 400px;
  padding: 0.25rem;
  margin: 0 auto;
}

.add-book {
  align-self: flex-end;
}

/* contact Section */
.contact-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 13px;
}

.contact-detail-item {
  list-style: disc;
  margin-left: 1.5rem;
}

/* Footer */
.footer {
  margin: 0.5rem;
  border: 2px solid #444;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: 45%;
  }

  .row {
    width: 100%;
    padding: 0 10px;
  }
}
